<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    {% block head %}{% endblock %}
</head>
<body>
  {% if success_msg %}
    <header>
      <div class="alert alert-success" role="alert">
          {{success_msg}}
      </div>
    </header>
    {% endif %}

    {% if info_msg %}
        <header>
            <div class= "alert alert-info" role="alert">
              {{info_msg}}
          </div>
        </header>
    {% endif %}

    {% if info_msg %}
        <header>
            <div class= "alert alert-danger" role="alert">
              {{danger_msg}}
          </div>
        </header>
    {% endif %}

    <div id="main-body">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
