{% extends 'base.html' %}
{% block head %}
<title>Book Page</title>
{% endblock %}

{% block body %}
<div style="float:right">
<a href="{{ url_for('logout') }}">Log out</a>
</div>

<h1 class="book-title"><b>{{ book1[1] }}</b></h1>
<h4 class="book-title">By {{ book1[2] }}</h4>
<h5 class="book-title"><b>ISBN:</b> <i>{{ isbn }} </i></h5>
<h5 class="book-title"><b>Date Published:</b> <i>{{ book1[3] }}</i></h5>
<h5 class="book-title"><b>Average Goodreads Rating: </b><i> {{ averagerating }}/5 </i></h5> <p><h6> <i>(based on <b>{{ workratingscount }}</b> ratings)</i></h6></p>





<br>
<div class="container">
<h3 align="center"> Add a Review </h3>
<form  action="{{ url_for('bookpage', isbn=isbn)}}" method="post">
    <input class="form-control"  required="" placeholder="Add a Review/Comment" name="comment" required maxlength="255" minlength=1 oninvalid="setCustomValidity('Should not be left empty.')"
       oninput="setCustomValidity('')" /></input><br>
<p>Rate out of 5:
       <select name="star"  method="GET">
           {% for star in stars %}
           <option placeholder="Provide a rating" value= "{{star}}" SELECTED>{{star}}</option>"
           {% endfor %}
       </select></p>
<br>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>


       </div>
     <br>
</form>

<h3 align="center"> Existing Reviews </h3>

<table class="table">
<thead class="thead-light">
<tr>
<th scope="col">Username</th>
<th scope="col">Book</th>
<th scope="col">Comment</th>
<th scope="col">Date</th>
<th scope="col">Rating</th>
</tr>
</thead>

{% for existingreview in existingreviews %}
<tr>
<td>{{existingreview.username}}</td>
<td>{{existingreview.book}}</td>
<td>{{existingreview.comment}}</td>
<td>{{existingreview.date}}</td>
<td>{{existingreview.star}}</td>
</tr>
{% endfor %}
</table>
<br>
{%endblock %}
